*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 700;
  font-size: 16px; */
  /* line-height: 1.5; */
  /* letter-spacing: 0.32px; */
  color: var(--slate);
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header-section {
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: var(--iris);
  text-transform: uppercase;
}

.logo-studio {
  color: var(--navy-blue);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.address-list {
  display: flex;
  gap: 40px;
}

.nav-list-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--ocean);
}


.address-lists {
  font-style: normal;
}

.address-list-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--ocean);
}

/* hero */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navy-blue);
}

.hero-title {
  display: inline-block;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white);
}

.hero-button {
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

.section-title {
  margin-bottom: 72px;
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* benefits */

.benefits-section {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-list-title {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.benefits-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* doing */

.doing-section {
  padding-bottom: 120px;
}

.doing-list {
  display: flex;
  gap: 24px;
}

.doing-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* team */

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

.team-list-info {
  padding: 32px 0;
}
.team-list-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navy-blue);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo-studio {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/* Portfolio */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-list-button {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--iris);
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
}

.filter-list-button:hover,
.filter-list-button:focus {
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--ocean);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.card-list-item {
  background-color: var(--white);
}

.card-list-item-info {
  padding: 32px 16px;
  border-left: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

.card-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.card-list-text {
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}